body {
    background-color: cornsilk
}

#principal {
    background-image: url(../CSS/img/butterfly.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#tagdiv {
    background-image: url(../CSS/img/butterfly.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.subdiv {
    background: rgb(247, 231, 16);
}

#Titulo {
    color: rgb(0, 0, 0)
}

#Titulo2 {
    color: rgb(3, 3, 3)
}

#cortrans {
    color: rgba(0, 0, 0, 0.5)
}

#cm {
    background-color: aqua;
    width: 1cm;
    height: 1cm;
}

#mm {
    background-color: blueviolet;
    width: 5mm;
    height: 5mm;
}

#in {
    background-color: rgb(43, 70, 226);
    width: 1in;
    height: 1in;
}

#px{
    background-color: rgb(43, 183, 226);
    width: 10px;
    height: 10px;
}
#pt{
    background-color: rgb(49, 226, 43);
    width: 10pt;
    height: 10pt;
}
#pc{
    background-color: rgb(226, 223, 43);
    width: 10pc;
    height: 10pc;
}

.green_text {
    color: rgb(10, 173, 124);
}

#base{
    height: 10px;
    background-color: blue;
}

#container{
    color: #fff;
    margin: 10px;
    padding: 10px;
    background-color: blueviolet;
}